.post {
    max-width: 400px;
    padding: 20px;
    border: 1px solid teal;
    border-radius: 5px;
    color: black;
}

.image {
    width: 100%;
    height: 300px;
    object-fit: contain;
    background-color: #121212;
    border-radius: 4px;
    margin-bottom: 10px;
}

.description {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.heart {
    cursor: pointer;
}
