.navigation {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navLink {
    text-decoration: none;
    color: teal;
}

.activeNavLink {
    text-decoration: underline;
    font-weight: bold;
}
